$default-button-bg-colour: theme('colors.gray.200');
$default-button-bg-hover-colour: theme('colors.gray.100');
$default-button-fg-colour: theme('colors.gray.900');
$primary-button-bg-colour: theme('colors.teal.900');
$primary-button-bg-hover-colour: theme('colors.teal.800');
$primary-button-fg-colour: theme('colors.gray.300');
$secondary-button-bg-colour: theme('colors.teal.300');
$secondary-button-bg-hover-colour: theme('colors.teal.200');
$secondary-button-fg-colour: theme('colors.gray.900');
$danger-button-bg-colour: theme('colors.red.300');
$danger-button-bg-hover-colour: theme('colors.red.200');
$danger-button-fg-colour: theme('colors.gray.900');
