<% if flash[:notice].present? %>
  <div class='w-auto m-4 p-4 bg-teal-100 border-l-4 border-teal-400' role='alert'>
    <p class='font-bold'>Notice</p>
    <p class='text-sm'><%= flash[:notice] %></p>
  </div>
<% end %>

<% if flash[:error].present? %>
  <div class='w-auto m-4 p-4 bg-red-100 border-l-4 border-red-400' role='alert'>
    <p class='font-bold'>Error</p>
    <p class='text-sm'><%= flash[:error] %></p>
  </div>
<% end %>
