<div class='sidebar'>
  <ul class='mt-2 flex flex-col mt-4 p-2'>
    <li class="sidebar-link <%= 'active' if sidebar_link_active?('Home', root_path) %>"><%= link_to 'Home', root_path %></li>
    <li class="sidebar-link <%= 'active' if sidebar_link_active?('Devices', devices_path) %>"><%= link_to 'Devices', devices_path %></li>
  </ul>
</div>
